<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CarbonSense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


<nav>
    <h2>🌱 CarbonSense</h2>

    <div class="nav-links">
        <a href="/dashboard">Dashboard</a>
        <a href="/suggestion">Suggestions</a>
        <a href="/about">About</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <a href="/admin">Admin</a>

    </div>
</nav>



<hr>

</body>
</html>