<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

    {% include "navbar.html" %}

<div class="section">

<h2>Choose a category to take your next climate action!</h2>

<div class="action-list">

<a href="/travel" class="action-item">

<div class="action-left">

<img src="https://images.unsplash.com/photo-1544620347-c4fd4a3d5957" class="action-img">

<div class="action-text">
Travelled Responsibly
</div>

</div>

<div class="action-arrow">➜</div>

</a>


<a href="/energy" class="action-item">

<div class="action-left">

<img src="https://images.unsplash.com/photo-1497440001374-f26997328c1b" class="action-img">

<div class="action-text">
Saved Energy
</div>

</div>

<div class="action-arrow">➜</div>

</a>


<a href="/food" class="action-item">

<div class="action-left">

<img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836" class="action-img">

<div class="action-text">
Ate Sustainably
</div>

</div>

<div class="action-arrow">➜</div>

</a>


<a href="/waste" class="action-item">

<div class="action-left">

<img src="https://images.unsplash.com/photo-1581578731548-c64695cc6952" class="action-img">

<div class="action-text">
Managed Waste
</div>

</div>

<div class="action-arrow">➜</div>

</a>

</div>

</div>

</body>
</html>

